* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#home {
    height: 80vh;
    background: url(./images/home\ image.jpg);
    background-size: cover;
    background-position:bottom;
    /* filter: blur(1px); */
}
#service {
    height: 40vh;
    background: url(./images/service\ image.jpg);
    background-size: cover;
    background-position: bottom;

}
#contact {
    height: 80vh;
    background: url(./images/contact\ image.jpg);
    background-size:cover;
    background-position:center;

}
.home-section {
    position: relative;
}
.home-content {
    position: absolute;
    top: 37%;
    left: 0;
}
.form-content input, .form-content textarea, .form-text {
    background-color:rgba(255, 255, 255, 0.3);
}
